










/* Navbar**/
.admin-navbar {
    background: #1f1f1f;
    color: white;
}

.admin-navbar h4 {
    margin: 0;
}

/* Cards estadísticas**/
.stat-card {
    border: none;
    border-left: 5px solid #8b0000;
    transition: transform 0.2s;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.stat-card h5 {
    color: #555;
}

.stat-card strong {
    font-size: 1.8rem;
    color: #8b0000;
}

/* Tabla**/
.table thead {
    background: #1f1f1f;
    color: white;
}

.table td {
    vertical-align: middle;
}

/* Botón eliminar**/
.btn-danger {
    background-color: #8b0000;
    border: none;
}

.btn-danger:hover {
    background-color: #b30000;
}

/* Títulos**/
.panel-title {
    font-weight: bold;
    color: #1f1f1f;
}


